/laskarit/viikko2/Maksukortti/nbproject/
/laskarit/viikko2/Maksukortti/target/
/laskarit/viikko2/Unicafe/nbactions.xml
/laskarit/viikko2/Unicafe/target/
/Silo/target/
/Silo/nbproject/
/Silo/nbactions.xml
/Silo/silos.db
/Silo/users.db
/Silo/clients.db
/Silo/tabletest.db
/Silo/testsilos.db
/Silo/testusers.db
/Silos/testclients.db
